<!DOCTYPE html>

<head>


    <meta charset="UTF-8">

</head>

<body>
    <p>Bonjour :
        <b>{{Reservation.trajet.chauffeur.nom}}

        </b><br>
    </p>
    <p>Trouvez votre fiche de mission
    </p><br><br>

    <p>Téléchargez votre facture ici :
        <a href="http://127.0.0.1:8000/ficheDeMission/{{Reservation.id}}">Télécharger votre facture</a>

    </p>

</body></html>{# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ #}
